{% extends 'base.html.twig' %}

{% block title %}Contacto index{% endblock %}

{% block body %}
    <h1>Personal <i class="bi bi-people-fill"></i></h1>
    
    
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo</th>
                <th scope="col">Notas</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td scope="col">{{ contacto.id }}</td>
                <td scope="col">{{ contacto.nombre }}</td>
                <td scope="col">{{ contacto.apellido }}</td>
                <td scope="col">{{ contacto.correo }}</td>
                <td scope="col">{{ contacto.telefono }}</td>
                <td scope="col">{{ contacto.tipo }}</td>
                <td scope="col">{{ contacto.notas }}</td>
                <td scope="col">
                    <a class="btn btn-info" href="{{ path('contacto_show', {'id': contacto.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('contacto_edit', {'id': contacto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a class="btn btn-primary" href="{{ path('contacto_new') }}">Create new</a>
{% endblock %}
